<!doctype html>
<html lang="en">
  <title>ToDo Manager</title>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>
  {% with messages = get_flashed_messages() %}  
         {% if messages %}  
               {% for message in messages %}  
                    <p>{{ message }}</p>  
               {% endfor %}  
         {% endif %}  
  {% endwith %}  
  
  
  <body>
    <div class="container">
      <div class="row">
        <div class="sidebar col-3">
          <a href="/"><img src={{url_for('static', filename='logo.png')}}/></a>
        </div>
        <div class="main col-8">
          {% block main %}
          <h3>Welcome to ToDo List Manager</h3>
          <a href={{url_for("login.loginform")}}><button class="btn btn-primary">Login</button></a>
          <p>If you are here for first time,<a href={{url_for("register.register")}}><button class="btn btn-primary">Register</button></a></p>
          {% endblock %}
        </div>
      </div>
    </div>
    </body>
</html>
